# Files to ignore for the docs project.
# Based on recommended mkdocs setup from https://www.mkdocs.org/#project-setup

# Output html files should be ignored for version control
# https://www.mkdocs.org/user-guide/configuration/#site_dir

site/